<app-header></app-header>
<app-infopersonal></app-infopersonal>
<app-educacion></app-educacion>
<app-experiencia-laboral></app-experiencia-laboral>
<app-circulos></app-circulos>
<app-proyectos></app-proyectos>
<app-footer></app-footer>

<!--
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MiPortfolio</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <header> <h1> <b> Bienvenido a mi Portfolio</b></h1></header>
    <h2><b> Baudracco, Maria Eugenia</b></h2>
    <ul>
    <p> Sobre mí</p>
    <p> Estudios Secundarios</p>
    <p> Estudios Universitarios</p>
    <p>Cursos IT</p>
    <p> Proyectos de Desarrollo Web</p>
   </ul>
    <footer>Baudracco, Maria Eugenia | Argentina Programa 2023</footer>
  <app-root></app-root>
</body>
</html>-->